.title__container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.title__content {
	background-color: rgba(43, 43, 43, 0.363);
  height: 40px;
  display: flex;
	align-items: center;
	justify-content: flex-start;
  padding-left: 15px;
}
