<div class="favorite__container">
  <app-game gameCover="/img/fav-card1.jpeg"></app-game>
  <app-game gameCover="/img/fav-card6.jpeg"></app-game>
  <app-game gameCover="/img/fav-card7.jpg"></app-game>
  <app-game gameCover="/img/fav-card5.jpg"></app-game>
  <app-game gameCover="/img/fav-card3.jpg"></app-game>
  <app-game gameCover="/img/fav-card8.jpg"></app-game>
  <app-game gameCover="/img/fav-card2.jpeg"></app-game>
  <app-game gameCover="/img/fav-card4.jpg"></app-game>
  <app-game gameCover="/img/fav-card6.jpeg"></app-game>
</div>
